<!doctype html>
<html>

<head>
    <title>Todo Lists</title>
</head>

<body>
    <header>
        <nav>
        </nav>
    </header>
    <main>
        <div>
            <h1>{{ todo_list_detail }}</h1>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in list_details.items.all %}
                    <tr>
                        <td><a href="{% url 'todo_list_detail' item.id %}">{{ item.task }}</a></td>
                        <td> {{ item.due_date|date:"M j, Y" }} </td>

                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </main>
    <footer></footer>
</body>

</html>