<!doctype html>
<html>

<head>
    <title>Todo Lists</title>
</head>

<body>
    <header>
        <nav>
        </nav>
    </header>
    <main>
        <div>
            <h1>My Lists</h1>

            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for list in todo_list_list %}
                    <tr>
                        <td><a href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</a></td>
                        <td> {{ list.items.count }} </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    <footer></footer>
</body>

</html>